<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="topSection">
			<div >
				<h1>Horoscope App</h1>
				
				<div>
					<input id='month' type="text" placeholder="Enter Birth Month....">
					<!-- <label for="day">Enter a Date</label> -->
					<input id='day' type="text" placeholder="Enter Birth Date....">
				</div>
				<button id= "button" type="button">My Horoscope Reading...</button>
			</div>
		</section>
		<section class='resultsSection hidden'>
			<div class="resultSectionTop">
				
				<h2><span id= "displayResult">TEST</span></h2>
				
			</div>
			<div class='resultsSectionBottom'>
				<figure id="imgHolder">
				</figure>
					
				<article >
				<dl>
					<dt>Strengths:</dt>
					<dd class='textHolder'>Courageous, determined, confident, enthusiastic, optimistic, honest, passionate</dd>
					<dt>Weaknesses:</dt>
					<dd class='textHolder'>Impatient, moody, short-tempered, impulsive, aggressive</dd>
					<dt>Likes:</dt>
					<dd class='textHolder'>Comfortable clothes, taking on leadership roles, physical challenges, individual sports</dd>
					<dt>Dislikes:</dt>
					<dd class='textHolder'>Inactivity, delays, work that does not use one's talents</dd>
				</dl>
				<p id='textBlock'>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quae maiores nulla totam odio necessitatibus rem. 
					A illum soluta, officia consequatur porro omnis vel mollitia aperiam culpa. Ipsam, dolore suscipit.
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates quae maiores nulla totam odio necessitatibus rem. 
					A illum soluta, officia consequatur porro omnis vel mollitia aperiam culpa. Ipsam, dolore suscipit.</p>
				</article>
			</div>
			
		</section>		



		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
